body {
  background-image: url(https://i.postimg.cc/B6JDvLWj/3PSd6tq.png);
  font-family: 'Georgia', serif;
}

* {
  cursor: url(https://i.postimg.cc/zDgYcFhf/cursor.png), auto;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
